**Answer 11**

In [2]:
import pandas as pd
import numpy as np

exam_data  =  {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin',
'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels =  ['I','II','III','IV','V','VI','VII','VIII','IX','X']

df = pd.DataFrame(exam_data , index=labels)
print(df)

           name  score  attempts qualify
I     Anastasia   12.5         1     yes
II         Dima    9.0         3      no
III   Katherine   16.5         2     yes
IV        James    NaN         3      no
V         Emily    9.0         2      no
VI      Michael   20.0         3     yes
VII     Matthew   14.5         1     yes
VIII      Laura    NaN         1      no
IX        Kevin    8.0         2      no
X         Jonas   19.0         1     yes

**Answer 12**

In [3]:
print("First five rows of the data frame:")
print(df.iloc[:5])

First five rows of the data frame:
          name  score  attempts qualify
I    Anastasia   12.5         1     yes
II        Dima    9.0         3      no
III  Katherine   16.5         2     yes
IV       James    NaN         3      no
V        Emily    9.0         2      no

**Answer 13**

In [4]:
print(df[['name', 'score']])

           name  score
I     Anastasia   12.5
II         Dima    9.0
III   Katherine   16.5
IV        James    NaN
V         Emily    9.0
VI      Michael   20.0
VII     Matthew   14.5
VIII      Laura    NaN
IX        Kevin    8.0
X         Jonas   19.0

**Answer 14**

In [5]:
print(df.iloc[[3,5,6,8],[0,1]])

        name  score
IV     James    NaN
VI   Michael   20.0
VII  Matthew   14.5
IX     Kevin    8.0

**Answer 15**

In [12]:
print(df[df['score'].between(15,20)])

          name  score  attempts qualify
III  Katherine   16.5         2     yes
VI     Michael   20.0         3     yes
X        Jonas   19.0         1     yes